POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=commerce_core_db
POSTGRES_USER=commerce_user
POSTGRES_PASSWORD=commerce_pass

JWT_SECRET=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_64_CHARS
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000